<!doctype html>
<html lang="en">
{% extends "/empleados/layout.html" %}
<body>
    {% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Gestión de empleados</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="container">
             {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <br>
            <div class="card card-body">
                <form method="post" action="/store" enctype="multipart/form-data">
                    <div class="form-ground">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" name="txtNombre" id="txtNombre">
                    </div>
                    <br>
                    <div class="form-ground">
                        <label for="txtCorreo">Correo:</label>
                        <input type="text" name="txtCorreo" id="txtCorreo">
                    </div>
                    <br> Foto:
                    <input type="file" name="txtFoto" id="txtFoto">
                    <br>
                    <br>
                    <input class="btn btn-success" type="submit" value="Agregar">
                    <a class="btn btn-primary" href="{{ url_for( 'index') }} ">Regresar</a>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
