{% extends 'empleados/layout.html' %} {% block title %}Crear{% endblock %} {% block body %}

<div class="container">
    <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden=""true>&times;</span>
                </button>
        </div>

        {% endfor %} {% endif %} {% endwith %}
        <br>
        <div class="card card-body">
            <form method="post" action="/store" enctype="multipart/form-data">
                <div class="form-ground">
                    <label for="txtNombre">Nombre:</label>
                    <input type="text" name="txtNombre" id="txtNombre">
                </div>
                <br>
                <div class="form-ground">
                    <label for="txtCorreo">Correo:</label>
                    <input type="text" name="txtCorreo" id="txtCorreo">
                </div>
                <br> Foto:
                <input type="file" name="txtFoto" id="txtFoto">
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Agregar">

            </form>
        </div>
    </div>
</div>
{% endblock %}